<!-- Page Header -->
<header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>LIKELION</h1>
          <span class="subheading">Bootstrap Theme Class</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" id="posts_index">
      <% @posts.each do |post| %>
      <div class="post-preview">
        <a href="<%= post_path(post) %>">
          <h2 class="post-title">
            <%= post.title %>
          </h2>
          <h3 class="post-subtitle">
            <%= truncate post.contents, length: 50 %>
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="<%= post_path(post) %>">Start Bootstrap</a>
          on <%= post.created_at.to_s(:long) %></p>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>
