
<!-- Page Header -->
<header class="masthead" style="background-image: url(<%= asset_path 'post-bg.jpg' %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @post.title %></h1>
          <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
          <span class="meta">Posted by
            <a href="#">Start Bootstrap</a>
            on <%= @post.created_at.to_s(:short) %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading">The Final Frontier</h2>
        
        <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>
        <%= @post.contents %>
        <a href="#">
          <img class="img-fluid" src="<%= asset_path 'post-sample-image.jpg' %>" alt="">
        </a>
        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

      </div>
    </div>
  </div>
</article>

<hr>